@media (max-width: 1024px) {
    .header {
        // .mobile {
        //     display: block;
        // }
        .cta {
            display: none;
        }
        // &-mobile-wrap {
        //     display: block;
        // }
    }
    .hero {
        .title {
            font-size: 90px;
            .sticky-1,
            .sticky-3,
            .sticky-4 {
                display: none;
            }
            .highlight {
                height: 60px;
                width: 200px;
            }
        }
    }
    .client {
        .title .sticky-1 {
            left: 0;
        }
        .desc .sticky-2 {
            right: 0;
        }
    }
    .about {
        &-pic {
            margin-left: 0;
        }
        &-info {
            .title {
                font-size: 50px;
            }
            .desc {
                font-size: 18px;
            }
        }
    }
    .work {
        .title {
            font-size: 50px;
        }
        .desc {
            width: 100%;
        }
        &-pic {
            margin-right: 0;
        }
    }
}
@media (min-width: 451px) and (max-width: 1024px) {
    html {
        font-size: 5.25%;
    }
    .hero {
        .title {
            .sticky-2 {
                top: -50px;
            }
        }
    }
}
@media (max-width: 650px) {
    .header {
        .list {
            display: none;
        }
        .mobile {
            display: block;
        }
        &-mobile-wrap {
            display: block;
        }
    }
    .client {
        .title,
        .desc {
            width: 100%;
        }
        .desc .sticky-2 {
            left: unset;
            right: 0;
        }
    }
}
@media (max-width: 450px) {
    .header {
        .wrapper {
            padding-block: 20px;
        }
    }
    .hero {
        padding-block: 10px 70px;
        &-content {
            margin-top: 28px;
            row-gap: 20px;
        }
        .title {
            font-size: 36px;
            line-height: 127.778%;
            letter-spacing: -1.44px;
            margin-bottom: 12px;
            .highlight {
                width: 87px;
                height: 25px;
            }
            .sticky-2 {
                left: 48.5%;
                width: 13px;
                height: 13px;
                top: 0;
            }
        }
        .desc {
            font-size: 16px;
        }
        &-pic-left {
            column-gap: 20px;
            img {
                width: calc(50% - 10px);
            }
        }
        &-pic-right {
            img {
                height: 250px;
            }
        }
    }
    .client {
        padding-block: 55rem;
        .row {
            row-gap: 12px;
        }
        .image {
            margin-top: 28px;
            flex-direction: column;
            row-gap: 65px;
        }
        .title {
            font-size: 26px;
            line-height: 138.462%;
            letter-spacing: -1.04px;
            .sticky-1 {
                width: 26px;
                height: 26px;
                left: 0;
            }
        }
        .desc {
            font-size: 16px;
            .sticky-2 {
                width: 17px;
                height: 17px;
                right: 20px;
            }
        }
    }
    .about {
        padding-block: 70px;
        &-info {
            .title {
                font-size: 26px;
                letter-spacing: -1.04px;
            }
            .desc {
                font-size: 16px;
                margin-block: 12px 28px;
            }
        }
    }
    .work {
        padding-block: 70px;
        .title {
            font-size: 26px;
            letter-spacing: -1.04px;
        }
        .desc {
            margin-top: 12px;
            font-size: 16px;
            letter-spacing: -0.32px;
        }
        &-content {
            margin-top: 28px;
        }
        &-info {
            .box {
                padding-bottom: 19px;
                span {
                    font-size: 16px;
                }
                h3 {
                    font-size: 20px;
                    margin-block: 0 12px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    .project {
        padding-block: 70px;
        &-title {
            margin-bottom: 28px;
        }
    }
}
