@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --bg-body: #f2efed;
    --white: #fff;
    --black: #22201f;
    --gray-white: #d6d8d9;
    --gray: #373739;
    --border: 1px solid var(--gray);
}
