.work {
    padding-block: 100px;
    &-title {
        display: grid;
        justify-content: center;
        text-align: center;
        .desc {
            width: 570px;
            margin-inline: auto;
            margin-top: 18px;
        }
    }
    &-content {
        margin-top: 60px;
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 28px 130px;
    }
    &-info {
        display: grid;
        row-gap: 43px;
        flex: 1 1 470px;
        .box {
            position: relative;
            width: 100%;
            padding-bottom: 25px;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                width: 100%;
                bottom: 0;
                height: 1px;
                background-color: #828282;
            }
            span {
                font-size: 20rem;
                font-weight: 400;
                line-height: 1;
                letter-spacing: -0.8px;
                color: #828282;
            }
            h3 {
                color: var(--black, #22201f);
                font-size: 58rem;
                font-weight: 500;
                line-height: 117.241%;
                letter-spacing: -1.16px;
                text-transform: capitalize;
                margin-block: 12px 20px;
            }
            p {
                color: var(--gray, #373739);
                font-size: 18rem;
                font-weight: 400;
                line-height: 166.667%;
                letter-spacing: -0.36px;
            }
        }
    }
    &-pic {
        flex: 1 1 645px;
        margin-right: -75px;
        img {
            width: 100%;
        }
    }
}
